@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Open+Sans:ital,wght@0,500;1,500&display=swap');

:root {
  --color-display: #858393;
  --color-secondary: #e0e0e0;
  --color-tertiary: #f4913e;
  --color-white: #fff;
  --transition: all 0.3s ease-in;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 120px;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sum {
  padding: 20px;
}

.sum-display {
  background-color: var(--color-display);
  font-size: 20px;
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  grid-column: 1/-1;
}
.zero-btn {
  grid-column: 1 / span 2;
}

.orange-btn,
.white-btn {
  padding: 25px 40px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid var(--color-display);
  border-right: 2px solid var(--color-display);
}

.white-btn {
  background-color: var(--color-secondary);
}

.orange-btn {
  background-color: var(--color-tertiary);
}
